<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set black background color, white text and some padding */

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Messages</a>
          </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-user"></span> My Account</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container text-center" style="width: 100%; margin-left: 5px ">
    <div class="row">
      <div class="col-sm-3 well">
        <div class="well">
          <p>

          </p>
          <img src="/public/user_comment/3.jpg" height="160" width="100" alt="Avatar">

        </div>

        <p>
          <a href="#">Link</a>
        </p>
        <p>
          <a href="#">Link</a>
        </p>
      </div>
      <div></div>
      <div class="col-sm-7">
        <div class="row">

          <div class="col-sm-12">
            <div class="row" style="margin-left:10px;margin-right:10px">
              <div class="well">
                <div class="card">
                  <div class="card-body">
                    <form action="/action_page.php">
                      <div class="form-group">
                        <div class="row text-left" style="margin-left:35px;">
                          <label>Comments: </label>
                        </div>
                        <div class="row">
                          <textarea style="width:90%" rows="4" cols="50"></textarea>
                        </div>
                      </div>
                      <div class="row text-right">
                        <div class="col-sm-12"></div>
                        <button type="submit" class="btn btn-primary" style="margin-right:50px;">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>


            <div class="row" style="margin-left:10px;margin-right:10px">
              <div class="well">
                <div class="card">

                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">ini hasil loopingan comment</p>
                    <a href="#" class="card-link">Edit</a>
                    <a href="#" class="card-link">Delete</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div></div>


      </div>
      <div class="col-sm-2 well">
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>
    </div>
  </div>



  </footer>

</body>

</html>